/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #333645;
}
.btns{
    -fx-background-color: transparent;

    
}
.btns:hover{
    -fx-background-color: #202332;
}
.box{
    -fx-border-color: #7c8184;
    -fx-border-width: 1px 0px 0px 0px;
}